
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'IBM Plex Sans', sans-serif;
}

.calculator {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.buttons {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
}

.buttons button {
    width: 75px;
    height: 60px;
    font-size: 150%;
}

.display {
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#display-top {
    font-size: large;
    height: 30px;
    margin-right: 8px;
    font-style: italic;
    text-align: right;
    word-break: break-all;
}

#display-middle {
    font-size: medium;
    height: 20px;
    margin-right: 8px;
}

#display-bottom {
    font-size: xx-large;
    min-height: 45px;
    margin-right: 8px;
    text-align: right;
    word-break: break-all;
}

.operator-btn,  #equals-btn {
    background-color: lightgray;
}

#clear-btn {
    background-color: rgb(180, 27, 27);
    color: aliceblue;
}

.number-btn {
    background-color: darkgray;
    color: aliceblue;
}